@font-face {
  font-family: "RPGSystem";
  src: url("./fonts/RPGSystem.ttf") format("truetype");
}

@import "./charts.css";
@import "./form.css";
@import "./header.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0px 10px 14px -7px #899599;
}

/* NAVBAR */

.navbar {
  width: 100%;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
}

.navlinks {
  color: #333;
}

.navbar a:nth-child(1) {
  color: #ff9aa2;
  font-size: 26px;
}

.navbar a:nth-child(3) {
  color: #c7ceea;
  font-size: 26px;
}

/* SPLASH PAGE */

.splash-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 20px;
}

.btn-splash {
  font-size: 1rem;
  width: 150px;
  padding: 10px 0;
  margin: 8px 0;
  border-radius: 20px;
}

.splash-page .btn-reg {
  background-color: #ffb7b2;
  border: 1px solid #333;
}

.splash-page .btn-login {
  background-color: #b5ead7;
  border: 1px solid #333;
}

img.splash-img {
  margin: 20px 0 10px;
  width: 80%;
}
