/* MOOD TRACKER */

.moodpage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 14px;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.moodpage h1 {
    margin: 20px;
}

.moodpage h2 {
    font-size: 3em;
    margin-bottom: 30px;
}

/* SLIDER */

.slidecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* position: absolute;
    top: 250px; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00adb5;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00adb5;
    cursor: pointer;
}

/* KEYWORDS / TAGS */

.tags {
    width: 85vw;
    margin: 20px 0;
    /* background: white; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border: 1px solid #d6d6d6; */
    border-radius: 2px;
    padding: 5px 5px 0;
}

.tags label {
    margin: 5px 0;
}

span.input-btn {
    width: 100%;
}

.btn-add {
    background-color: lightpink;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 0 5px;
}

.tags input {
    padding: 5px 0;
    padding-left: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 20px;
    width: 80%;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 5px 0;
    height: 60px;
    width: 100%;
    /* overflow: hidden; */
    overflow-y: scroll;
}

ul.ul-tags {
    display: inline-flex;
    flex-wrap: wrap;
    /* margin: 10px 0; */
    padding: 0;
    width: 100%;
}

ul.ul-tags li {
    /* align-items: start; */
    /* font-size: 11px; */
    background: lightsalmon;
    border-radius: 5px;
    color: black;
    display: flex;
    font-weight: 300;
    list-style: none;
    margin: 3px 0;
    margin-right: 3px;
    padding: 2px 5px;
    font-size: 14px;
}

ul.ul-tags li button {
    align-items: center;
    appearance: none;
    background: inherit;
    border: none;
    border-radius: 50%;
    /* border-left: 1px solid lightgray; */
    color: #333;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 15px;
    justify-content: center;
    line-height: 0;
    margin-left: 8px;
    transform: rotate(45deg);
    width: 15px;
}

ul.ul-tags li.li-tags {
    background: none;
    flex-grow: 1;
    padding: 0;
}

/* TEST - ACCORDION */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

/* EMOJI */

img.emoji {
    width: 100px;
    margin-bottom: 30px;
    /* filter: invert(60%); */
    opacity: .8
    /* position: absolute; */
}

/* OK BUTTON */

.btn-ok {
    background-color: lightgreen;
    opacity: .8;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    margin-top: 30px;
}